body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 10px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
}



.education-entry,
.work-entry,


h1 {
    font-size: 70px;
    color: black;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 60px;
    color: #999;
    line-height: 29px;
    padding: 10px;
    text-align: center;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}


.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    color: #f5ae23;
    display: none;
}

#topContacts {
    display: inline-flex;
    list-style: none;
}

.logoWall {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.scale-img {
    object-fit: contain;
    flex: auto;
    width: 20%;
    margin: .5vw;

}

.scale-icon {
    object-fit: contain;
    flex: auto;
    width: 40%;
    margin: .5vw;

}



ul {
    list-style-type: none;
    overflow: auto;
    list-style-type: none;
}

header li {
    height: 25px;
    float: left;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#bannerData {
    font-family: 'Raleway', sans-serif;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

.centred-flex {
    display: flex;
    align-items: center;
    justify-content: left;
}

.center-content {
    margin: auto;
}

/* Manage site layout with grid */
.site {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 800px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "header logowall"
        "main-details main-details"
        "footer footer";
}

header {
    grid-area: header;
    background-color: darkslategray;

}

aside {
    grid-area: logowall;
    background-color: #4FC9E5;

}

#details {
    grid-area: main-details;


}

/* Manage Project layout with Grid */

.project-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    grid-template-areas:
      "project-image project-title project-date"
      "project-image project-description";
    background-color: cyan
}


.project-title {
    grid-area: project-title;
    background-color: pink;
}

.project-image {
    grid-area: project-image;
    background-color: blue;
}

.project-date {
    grid-area: project-date;
    background-color: orange;
}

.project-description {
    grid-area: project-description;
    background-color: green;
}


#workExperience {
    grid-area: experience;
}

#education {
    grid-area: education
}

footer {
    grid-area: footer;
    background-color: orange;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1000px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 95%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
}